.slider-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.slider-img {
  display: none;
  width: 100%;
  height: 400px;
}

.slider-circles {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 10px;
  cursor: pointer;
}

.slider-circle.active {
  background-color: white;
}
