.imageslider {
  position: relative;
  width: 1200px;
  height: 400px;
}

.imageslider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.imageslider img.active {
  opacity: 1;
}

.imageslider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.imageslider-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  cursor: pointer;
}

.imageslider-indicators span.active {
  background-color: #555;
}
